<html>
	<head>
        <title> APS | Submissions </title>
    </head>
    <body>
        <!-- MAIN BG -->
        <div id="main_bg"></div>
        <!-- MAIN OVERLAY -->
        <div id="main_overlay"></div>
        
        <div id = "main">  
            <ol>
                <% for(var i = 0; i < submissions.length; i++) { %>
                    <li> <%- submissions[i]; %> </li>
                <% } %>
            </ol>
            <form action="logout" method="POST">
                <button type = "submit"> LOGOUT  </button>
            </form>
        </div>
    </body>
</html>