#change_pass{
    font-family: "Palanquin";
    font-size: 15px;
    color: white;
    background-color: #124B2E;
    border: 4px;
    padding: 5px 30px;
    transition: 0.2s;
    border-radius: 2px;
}

#change_pass:hover, button#change_pass:hover{
    background-color: #1F804E;
    cursor: pointer;  
}

.label {
    margin: 0px;
}

.field {    
    width: 250px;
    resize: none;
    color: #35865C;
	font-family: "Palanquin";
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin: 0px 0px 20px 0px;
}

#error_msg {
    font-weight: bolder;
    margin: 0px;
}

#change-pass-form {
    text-align: center;
}

#main-content {
    overflow: none;
}



.edit-btn {
    position: absolute;
    background: none;
    border: none;
    color: #35865C;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
    right: -20px;
    top: 0px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    opacity: 0.8;
    transition: 0.2s;
}

.edit-btn:hover {
  opacity: 0.95;  
}

.disabled-input {
    font-weight: bold;
}

#passwordforgot {
    text-align: center;
    position: relative;
}

.label {
    position: relative;
}

.editlabel {
    margin: 0 auto;
    max-width: 300px;
    min-width: 100px;
    left: 0px;
    right: 0px;
}

.field-set {
    background: none;
    border: solid 1px #35865C;
    color: #35865C;
    padding: 5px 20px;
    outline: none;
    width: 100%;
    font-size: 20px;
    border-radius: 100px;
    font-family: 'Palanquin';
}

.title {
    font-size: 25px;
    font-weight: bolder;
    color: #35865C;
}

label#emailtitle {
    text-align: center;
    width: 100%;
}

.option {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid #35865C;
}

.option:first-of-type {
    border-top: none;
}

#sheetsopt {
    text-align: center;
    position: relative;
}

#setting-email, #setting-sheets {
    background: none;
    border: solid 1px #35865C;
    color: #35865C;
    padding: 5px 20px;
    width: 100%;
    border-radius: 100px;
    font-size: 20px;
    font-family: 'Palanquin';
    outline: none;
}

.subopt {
    justify-content: center;
    display: flex;
}

.subopt > #editsave {
    padding: 0px 10px;
    background-color: #35865C;
    color: white;
    border: none;
    font-size: 20px;
    font-family: "Palanquin";
    cursor: pointer;
}

.subopt > #editsave:hover {
    background-color: #35865CCC;
    color: white;
    border: none;
    font-size: 20px;
    font-family: "Palanquin";
    cursor: pointer;
}


.subopt label {
    width: 100px;
}
