@import url('palanquin.css');


/*MODAL VIEW */
#modal-view {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}


#modal-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#modal-bg {
    position: absolute;
    background-color:  #35865C;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

#modal-container {
    margin: 20px 20px;
}

#modal-content {
    display: flex;
}

.half::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px gray;
    border-radius: 10px 10px 10px 10px;
}

.half::-webkit-scrollbar {
	width: 10px;
	background-color: white;
    border-radius: 10px
}

.half::-webkit-scrollbar-thumb {
	background-color: #35865C;
    border-radius: 10px;
}


.modal-title {
    margin: 0px;
    padding: 0px;
}

.modal-title#act-name {
    font-size: 25px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    line-height: 1;
    font-weight: bolder;
}

.modal-title#org-name {
    font-size: 20px;
    width: 100%;
    margin: 0px;
    height: 10%;
    padding: 0px;
    flex-grow: 1;
    font-weight: bolder;
}


#modal-content section {
    width: 95%;
    margin: 0px auto;
    text-align: left;
}

.modal-label.modal-division {
    font-size: 20px;
    width: 100%;
    font-weight: bolder;
}

.modal-division button.selected {
    color: white;
    background-color: #35865C;
}

.modal-division button:hover {
    color: white;
    background-color: #35865C;    
}
.modal-division button {
    font-family: "Palanquin";
    color: #35865C;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.modal-label {
    width: 50%;
    font-size: 18px;
}

#time:after {
    margin-left: 0px;
}

.modal-group {
    width: 100%;
}

section#details {
    width: 95%;
    text-align: left;
}

#modal-close {
    -webkit-border-radius: 1em;
    border-radius: 1em;
    font: normal 8em/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: none;
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0px;
    border: none;
    position: absolute;
    cursor: pointer;
}

#modal-close:hover::after {
    background: #F55656;
}

#modal-close:hover::before {
    background: #F55656;
}

#modal-close::before {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 30px;
    height: 10px;
    position: absolute;
    content: "";
    top: 20px;
    left: 10px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #35865C;
    text-shadow: none;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    transition: 0.2s;
}

#modal-close::after {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 30px;
    height: 10px;
    position: absolute;
    content: "";
    top: 20px;
    left: 10px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #35865C;
    text-shadow: none;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    transition: 0.2s;
}

#modal-container-outer {
    background-color: white;
    position: absolute;
    color: #35865C;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    z-index: 5;
    top: 50%;
    height: auto;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -50%);
}
div.table-container, div.tab-container  {
    width: 90%;
    margin: 10px auto 0px auto;
    overflow: auto;
}

#orgs-tab {
}

#add-org-container {
    position: relative;
    width: 500px;
    height: 100px;
    float: right;
    right: 5%;
    top: 10px;
    background-color: white;
    border-radius: 3em;
    line-height: 50px;
}


.modal-row {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.modal-row textarea {
    width: 50%:
}

.toast {
    display: none;
    text-align: center;
    background-color: #FFFFFF;
    border-color: #95989A;
    color: #35865C;
    position: fixed;
    z-index: 30;
    left: 250px;
    right: 0px;
    margin: 0 auto;
    bottom: 0;
    max-width: 700px;
    font-size: 18px;
    padding: 5px 20px;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0px 0px;
}

.toast button {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #5DDC7F;
    font-family: 'Palanquin';
    color: white;
    padding: 5px 5px;
    margin: 10px 5px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    transition: 0.2s;
}

#undo-toast {
    background: #95989A;
    color: white;
    transition: 0.2s;
}

#undo-toast:hover {
    background: #B3BCC2;
}

#ok-toast {
    background: #34865C;
    color: white;
    transition: 0.2s;
}

#ok-toast:hover {
    background: #51C288;   
}

.field {
    font-size: 14px;
    background-color: #124B2E;
    color: white;
    border: none;
    width: 23%;
    padding: 0 1%;
	font-family: "Palanquin";
    margin: 0%;
}

label.label {
    text-align: center;
    display: inline-block;
    width: 25%;

}

#addOrg-upperhalf {
}

#addOrg-lowerhalf {
    display: block;
    overflow: auto;
    width: 100%;
    height: 70%;
}

#header {
    width: 100%;
    display: inline-flex;
}

.long {
    width: 40%;
}

button.btn {
    margin-top: 5px;
    font-family: "Palanquin";
    width: 150px;
    font-size: 15px;
    color: white;
    background-color: #124B2E;
    border: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px auto 0 auto;
}

.btn:hover, button.btn:hover{
    background-color: #1F804E;
    cursor: pointer;  
}

.status {
    width: 30px;
}

.btn_add {
    line-height: 20px;
    font-size: 20px;
    border: none;
    background: none;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.btn_add:hover {
    border: none;
    background: none;
    color: #124B2E;
}

.org-item {
    width: 100%;
}


table {
    width: 100%;
    border-spacing: 0px;
}

tbody tr td {
    padding: 10px;
}

.header th {
    padding: 10px;
}


.org {
    width: 60%;
}

.header {
    color: white;
    background-color: #35865C; 
}

.tr-extension {
}

#modal-view .addBtn {
    float: right;
}

.addBtn {
    font-size: 16px;
    color: white;
    border: none;
    font-family: "Palanquin";
    padding: 5px 50px;
    background-color: #35865C; 
    cursor: pointer;
    margin: 0px 0px 10px 0px;
}

.tab.selected, .tab:hover {
    background-color: #35865CEF;
    color: white;
    transition: 0.2s;
}

#orgs-table, #users-table {
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
}

#users-table {
    display: none;
}

.tab {
    width: 150px;
    font-size: 16px;
    font-family: "Palanquin";
    padding: 10px;
    color: #35865C;
    border: none;
    cursor: pointer;
    background-color: #35865C11; 
}

.addBtn:hover {
   background-color: #35865CCC;
}

.orgs-user {
    border-top: 1px solid  #35865C;    
    width: 95%;
    margin: 0 auto;
}

tr.trow-extension {
    
}

/* MODAL VIEW */
#modal-view {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}
}

#modal-container-outer {
    background-color: white;
    position: absolute;
    color: #35865C;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    z-index: 5;
    top: 50%;
    height: 50%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.modal-field {
    color: #35865C;
    font-size: 16px;
    padding: 0px 10px;
    width: 50%;
    border: 1px #35865C solid;
    font-family: "Palanquin";
    
}

#modal-content {
    display: block;
}

.modal-label {
    text-align: left;
    font-size: 20px;
    width: 35%;
}

.modal-row {
    padding: 0px;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    margin: 10px 0px;
    display: flex;
}


.modal-title {
    font-size: 40px;
}

#modal-container {
    margin: 20px;
}

.iconBtn {
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;
    color: #35865CCC;
}

.iconBtn:hover {
    color: #35865CFF;
}

#add-org-form {
    
}
