@import url('fonts.css');

body {
    font-family: "Montserrat";
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#main_content {
    position: absolute;
    border: none;
    height: 100%;
    top: 0px;
    left: 250px;
    width: calc(100% - 250px)
}

.checkbox {
    cursor: pointer;
    margin-right: 20px;
    border: 1px #35865C solid;
    width: 30px;
    color: #35865c;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}



#menu-btn {
    display: none;
    color: #35865C;
    height: 100%;
    position: absolute;
    z-index: 11;
    background: none;
    border: none;
    font-size: 30px;
    opacity: 0.7;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
}

#menu-btn:hover {
    background: none;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    opacity: 1;
}

#main_header{
    border-bottom-color: #35865C;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#main_body {
    margin: 10px;
    position: absolute;
    display: block;
    width: calc(100% - 20px);
}

.body_label{
    position: relative;
    font-size: 30px;
    left: 0px;
    margin: 0px;
    top: 0px;
    align-items: center;
    color: #35865C;
}

input {
    font-family: "Lato";
}

.head {
    width: calc(100% - 20px);
    margin: 20px 10px 5px 10px;
    line-height: 100%;
}


@media only screen and (max-height: 600px) {
    #main_content {
        left: 100px;
        width: calc(100% - 100px);
        height: 100%;
        margin: 0 auto;
        display: table-cell;
    }
}

.nav.label .greeting {
    font-size: 30px;
}
