#main-body {
    width: 100%;
    height: 100%;
    position: relative;
}

#canvas-id {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    text-align: center;
}

.value {
    font-size: 25px;
    font-weight: bolder;
}

.count-container {
    padding: 50px;
}

.count-main {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    display: inline-flex;
}

#acad label.acad {
    color: rgb(130, 250, 100);
}

.acad {
    stroke: #64865C;
    fill: #64865C;
}

.non-acad {
    stroke: #4F9A63;
    fill: #4F9A63;
}

.ct-label {
    fill: white;
}

#chart {
    width: 100%;
    height: 300px;
    color: #35865C;
    font-family: "Palanquin";
}


