@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

#main-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: #E5EDF3;
    height:100%;
    width:100%;
    z-index: -1;
}

#main-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    height:100%;
    width:100%;
    z-index: -1;
}

#main {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
}

.main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-group-container{
    position: absolute;
    height: auto;
    width: 80%;
    background-color: #126B4D;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-color: #126B4D;
    border-bottom-style: solid;
    border-width: 5px;
}

.main-container-content{
    top: 10px;
    background-color: #E5EDF3;
    width: 98%;
    height: inherit;
    border-color: #126B4D;
    border-style: solid;
    border-bottom: 2px;
    border-bottom-width: inherit;
}

.main-container-header{
    background-color: #126B4D;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: flex-start; !important
    
    
}

#add-org{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: #00E094;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Open Sans";
    font-size: 15px;
    border-radius: 10px;
}

#add-org:hover{
    background-color: #2C9D77;
}

#addOrgForm{
    display: none;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}

.list-organizations{
    margin-left: 15px;
    font-family: "Open Sans";
    font-size: 20px;
    color: #126B4D;
}

#tabbing{
    margin-left: 50px;
}

#addOrg_msg{
    font-family: "Open Sans";
    margin: 15px;
}

#btn_back{  
    background: none;
    border: none;
}

#btn_addorg{
    background-color: #00E094;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Open Sans";
    margin-top: 10px;
    border-radius: 10px;
}

#btn_addorg:hover{
    background-color: #2C9D77;
}

.deletebutton {
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
    border-style: none;
    background: none;
}

.deletebutton:hover {
    color: firebrick;
}

.btn_delete{
    font-size: 30px;
    line-height: 30px;
}

.empty{
    width: 20%;
}

.username{
    text-align: left; !important
    width: 40%;
}

.password{
    width: 40%;
}

table{
    text-align: left;
}


#btn_link {
    background: none;
    border: none;
    text-decoration: none;
}

#link_back{
    font-size: 20px;
    color: white;
}

#tbl_list {
    width: 100%;
}

html, body {
    height: 100%;
}

#tbl_container {
    width: 100%;
    height: 300px;
    min-height: 250px;
    overflow-y: auto;
    padding-bottom: 10px;
    margin-bottom: 5px;
}


#tbl_container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--selected);
}

#tbl_container::-webkit-scrollbar {
	width: 6px;
	background-color: var(--strong);
}

#tbl_container::-webkit-scrollbar-thumb {
	background-color: var(--strong);
}

